
<div>

  <h3>Busca un pokemon</h3>

  <form>

    <input name="pokeName" type="text">
    <button>Buscar</button>

  </form>

  <div>
    <p>resultados de busqueda:</p>
    <h4>{{details.name}}</h4>
    <img src="{{details.url}}" alt="pokemon">
  </div>

</div>